[submodule "vim/vim.symlink/bundle/Command-T"]
	path = vim/vim.symlink/bundle/Command-T
	url = git@github.com:wincent/Command-T.git
[submodule "vim/vim.symlink/bundle/vim-colors-solarized"]
	path = vim/vim.symlink/bundle/vim-colors-solarized
	url = git@github.com:altercation/vim-colors-solarized.git
[submodule "vim/vim.symlink/bundle/vim-powerline"]
	path = vim/vim.symlink/bundle/vim-powerline
	url = git@github.com:Lokaltog/vim-powerline.git
[submodule "vim/vim.symlink/bundle/vim-sensible"]
	path = vim/vim.symlink/bundle/vim-sensible
	url = git@github.com:tpope/vim-sensible.git
[submodule "vim/vim.symlink/bundle/vim-gitgutter"]
	path = vim/vim.symlink/bundle/vim-gitgutter
	url = git@github.com:airblade/vim-gitgutter.git
[submodule "vim/vim.symlink/bundle/nerdtree"]
	path = vim/vim.symlink/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "vim/vim.symlink/bundle/ctrlp"]
	path = vim/vim.symlink/bundle/ctrlp
	url = git@github.com:kien/ctrlp.vim.git
[submodule "vim/vim.symlink/bundle/detectindent"]
	path = vim/vim.symlink/bundle/detectindent
	url = git@github.com:ciaranm/detectindent.git
[submodule "vim/vim.symlink/bundle/supertab"]
	path = vim/vim.symlink/bundle/supertab
	url = git@github.com:ervandew/supertab.git
[submodule "vim/vim.symlink/bundle/MatchTag"]
	path = vim/vim.symlink/bundle/MatchTag
	url = git@github.com:gregsexton/MatchTag.git
[submodule "vim/vim.symlink/bundle/tcomment"]
	path = vim/vim.symlink/bundle/tcomment
	url = git@github.com:tomtom/tcomment_vim.git
